BEGIN-CHANGESET 2.0
    
    SET SCHEMA efd;
    
    INSERT INTO USERS (ENABLED,USERNAME,LASTLOGIN,FAILEDLOGINS,ADMINROLE,FIRSTNAME,LASTNAME,INITIALPASSWORD) VALUES (1,'admin',CURRENT_TIMESTAMP,0,1,'Administrator','Administrator',0);
    INSERT INTO PASSWORD (PASSWORD,CREATEDDATE,USERS) VALUES ('{bcrypt}$2a$10$xyqWM2vc9aT5.gmHZcfj5.y4CpvGH6Pun.MBfE2rdrMkDig8dPiKy',CURRENT_TIMESTAMP,1);
    
END-CHANGESET

BEGIN-CHANGESET 2.2
    
    SET SCHEMA efd;
    
    UPDATE ftp_connection SET PASSWORD = '';
    UPDATE ftp_connection SET IMPLICIT = 0;
    UPDATE content_set SET update_time = creation_time;
    UPDATE CONTENT_SET_CONSUMER SET CONCURRENTTRANSFERS = 1;
    
END-CHANGESET

BEGIN
